<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PDF Files</title>
</head>
<body>
<h1>PDF Files</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>File Name</th>
        <th>Preview</th>
        <th>Download</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="file : ${files}">
        <td th:text="${file.id}">1</td>
        <td th:text="${file.fileName}">Sample.pdf</td>
        <td>
            <a th:href="@{/files/preview/{id}(id=${file.id})}" target="_blank">
                Preview
            </a>
        </td>
        <td>
            <a th:href="@{/files/{id}(id=${file.id})}" download>
                Download
            </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
